@media screen and (max-width:576px) {
    .navbar-container{
        flex-direction: column;
        box-shadow: none;
        gap: 20px;
  
    }
    .navbar-logo{
        margin-left: 10px;
    }
    .meanu-bar ul{
        flex-direction: column;
        margin-top: 10px;
    }
}