@media screen and (max-width:576px) {
    .navbar-container{
        flex-direction: column;
        box-shadow: none;
        gap: 20px;
  
    }
    .navbar-logo{
        margin-left: 10px;
    }
    .meanu-bar ul{
        flex-direction: column;
        margin-top: 10px;
    }

    /* nav styles end here  */

    .banner-container{
        flex-direction: column-reverse;
        width: 100%;
        margin-top: 100px;
    }
    .banner-photo img {
        width: 400px;
        
    }
    .banner-photo{
        padding: 20px;
        width: 100%;
        margin: 0 auto;
    }
    .banner-content{
        
        width: 100%;
        padding-left: 10px;
        padding-top: 2px;
    }
    .banner-text{
        margin-left: 20px;
    }
    
    /* banner styles end here  */
    .games-cards-header h1{
        margin-top: 100px;
    }
    .games-cards-header p{
        text-align: center;
        padding: 10px;
    }
    .games-card{
        grid-template-columns: 1fr;
        margin-left: 40px;
        margin-right: 4px;
    }
}