@media screen and (max-width:576px) {
    .navbar-container{
        flex-direction: column;
        box-shadow: none;
        gap: 20px;
  
    }
    .navbar-logo{
        margin-left: 10px;
    }
    .meanu-bar ul{
        flex-direction: column;
        margin-top: 10px;
    }

    /* nav styles end here  */

    .banner-container{
        flex-direction: column-reverse;
        width: 100%;
        margin-top: 100px;
    }
    .banner-photo img {
        width: 400px;
        
    }
    .banner-photo{
        padding: 20px;
        width: 100%;
        margin: 0 auto;
    }
    .banner-content{
       
        width: 100%;
        padding-left: 2px;
        padding-top: 2px;
        background-size: 100%;
    }
    .banner-content h1{
        font-size: 50px;
    }
    .banner-content h2{
        font-size: 30px;
    }
    .banner-content p{
        font-size: 15px;
        margin-top: 5px;
    }
    .banner-text{
        margin-left: 30px;
        margin-top: 50px;
       
    }
    .btn1{
        padding: 10px 20px;
        font-size: 15px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 0;
    }
    
    .btn2{
        padding: 10px 20px;
        font-size: 15px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 0;
    }
    
    /* banner styles end here  */
    .games-cards-header h1{
        margin-top: 50px;
        text-shadow: #F948B2 ;
        
    }
    .games-cards-header p{
        text-align: center;
        padding: 10px;
       
    }
    .games-card{
        grid-template-columns: 1fr;
        margin-left: 40px;
        margin-right: 4px;
    }

    /* funny games styles end here  */
    .play-container{
        flex-direction: column;
        margin-top: 100px;
        gap: 50px;
    }
    .play-content{
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .play-content h1{
        text-shadow: 1px 1px 1px rgba(11, 2, 35, 1);
    }
    .play-content span{
        text-shadow: 1px 1px 1px #F948B2;
    }
    .play-photo img{
        width: 300px;
        height: 350px;
        padding: 20px;
    }
    .play-imge{
        margin-left: 20px;
        width: 150px;
        height: 200px;
        margin-top: -80px;
    }
    /* paly games section end here  */
    .all-games-container{
      margin-left: 20px;
      gap: 3px;
      margin-top: 50px;
    }
    .all-games-card{
      
        width: 125px;
        height: 50px;
       gap: 2px;
       background: #fff;
        
      }
      .all-games-card img{
        height: 30px;
        width: 30px;
      }
      .all-games-card p{
        font-size: 10px;
      }
      /* main section styles end here  */
      .footer-logo{
        padding-top: 50px;
      }
      .footer-content{
        grid-template-columns: repeat(3,1fr);
        margin-left: 20px;
        margin-right: 20px;
        grid-gap: 30px;
      }
      .footer-icon{
        margin-left: 100px;
        margin-right: 50px;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 20px;
      }
      .footer-content-2{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 50px;
        margin-top: 60px;
        margin-left: 15px;
        margin-right: 10px;
      }
}