
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Open+Sans:wght@700&family=Poppins:wght@600;700&family=Roboto:wght@700&family=Space+Mono:wght@700&family=Work+Sans:wght@400;700&display=swap');

  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Work Sans;
  }

  .navbar-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 350px;
    padding: 35px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    
    
    
  }
  .navbar-logo{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
  }
  .navbar-logo h1{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
  
  }
  span{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
 
  .meanu-bar ul{
    display: flex;
    gap: 35px;
    align-items: center;
    list-style: none;
    cursor: pointer;
  }
  .meanu-bar ul li a{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    
  }
  .follow-us{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px 10px 10px 18px;
    text-align: center;
  }
  .follow-us i{
    
    width: 33.916px;
    height: 24px;

  }
  .youtube{
    color: #F61C0D;;
  }

  /* navbar section end here  */