
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Open+Sans:wght@700&family=Poppins:wght@600;700&family=Roboto:wght@700&family=Space+Mono:wght@700&family=Work+Sans:wght@400;700&display=swap');

  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Work Sans;
  }

  .navbar-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 350px;
    padding: 35px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    
    
    
  }
  .navbar-logo{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
  }
  .navbar-logo h1{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
  
  }
  span{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
 
  .meanu-bar ul{
    display: flex;
    gap: 35px;
    align-items: center;
    list-style: none;
    cursor: pointer;
  }
  .meanu-bar ul li a{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    
  }
  .follow-us{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px 10px 10px 18px;
    text-align: center;
  }
  .follow-us i{
    
    width: 33.916px;
    height: 24px;

  }
  .youtube{
    color: #F61C0D;;
  }



  /* navbar section end here  */


.banner-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  
}
.banner-photo {
  width: 50%;
  height: 85vh;
}
.banner-content{
  width: 50%;
  text-align: start;
  padding-left: 220px;
  padding-top: 140px;
  background-image: url(./images/Group\ 14.png) ;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 85vh;
}
.banner-content h2{
  color: #0B0223;
  
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-content h1{
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-content p{
  color: #534C64;
  font-size: 20px;
  font-weight: 500;
  margin-top: 25px;
  
}
.banner-content i{
  margin-right: 20px;
  color:#FF42A5 ;
}
.btn1{
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
  border: none;
  padding: 20px 40px;
  margin-top: 40px;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 20px;

}
.btn2{
  border-radius: 48px;
  background: #4EC5F7;
  border: none;
  padding: 20px 40px;
  margin-top: 40px;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

/* banner section end  */
.games-cards-header{
  text-align: center;
}
.games-cards-header h1{
  color: #0B0223;
  font-size: 48px;
  font-weight: 700;
  margin-top: -150px;

}
.funny{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
}
.games-cards-header p{
  color: #534C64;
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */

}
.games-card{
  display: grid;
  margin-left: 200px;
  margin-right: 200px;
  grid-template-columns: repeat(4,1fr);
  gap: 25px;
  margin-top: 50px;
  margin-bottom: 100px;
}
.container{
  position: relative;
  overflow: hidden;
}
.container:hover .text{
  visibility: visible;
  cursor: pointer;
  
  
  
}


.image img{
  object-fit: cover;
  transition: .5s ease;
  
}
.image p{
  color: #534C64;
  font-size: 15px;
  font-weight: 500;
  line-height: 30px; /* 150% */
  margin-top: 10px;
}
.text{
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  border: 3px solid #F948B2;
  border-radius: 16px;
  opacity: .7;
  width: 342px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  visibility: hidden;
  /* transition: .5s ease; */
  

 
}
.text i{
  font-size: 30px;
}

/* funny games end here  */

.play-container{
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
  gap: 265px;
}
.play-photo img{
  width: 634.833px;
height: 650px;

}
.play-content{
  width: 20%;
  text-align: right;
  
  
}
.play-content h1{
  font-size: 48px;
  font-weight: 700;
  line-height: 60px; /* 125% */
  color: #0B0223;
}
.play-content p{
  color: #534C64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-top: 24px;
}
.play-content span{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play-imge{
  margin-left: 800px;
  margin-top: -500px;
}

/* paly games styles end here  */

.all-games-card{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* border: 2px solid #F948B2; */
  
}
/* .all-games-card img p{
  border: 2px solid #F948B2;
} */