@media screen and (min-width:576px) and (max-width:768px) {
    .navbar-logo{
        margin-left: 0px;
        gap: 5px;
    }
    .meanu-bar ul{
        margin-right: 0px;
        width: 100%;
        gap: 15px;
      
    }
    .navbar-container{
        width: 100%;
        gap: 10px;
    }
}
 
  
